.contact .content .contact-item {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.contact .content label {
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 5px;
}

.contact .content input {
    padding: 6px;
    font-size: 0.9em;
    border: 1px solid var(--neutro);
    border-radius: 5px;
}

.contact .content input:focus {
    outline-color: var(--primaria);
}

#contact-submit {
    display: flex;
    justify-content: end;
}

#contact-submit button {
    padding: 8px 24px;
    font-size: 1em;
    font-weight: bold;
    background-color: var(--primaria);
    color: var(--texto-primaria);
    border: 1px solid var(--texto-primaria);
    border-radius: 5px;
    cursor: pointer;
}

#contact-submit button:hover {
    background-color: var(--texto-primaria);
    color: var(--primaria);
    border: 1px solid var(--primaria);
}