#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaria);
    color: var(--texto-primaria);
    font-size: 0.8em;
    width: 100%;
}

#footer ul {
    display: flex;
    list-style: none;
}

#footer ul li {
    margin: 5px;
}

#footer img {
    width: 24px;
    height: 24px;
}